html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.primary-c-bg{
  background-color: #212121;
}

body{ 
  background: linear-gradient(45deg, #eeeeee 12.5%, #efefef 12.5%, #efefef 37.5%, #eeeeee 37.5%, #eeeeee 62.5%, #efefef 62.5%, #efefef 87.5%, #eeeeee 87.5%);
  background-size: 100px 100px;
  background-position: 100px 50px;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body *{
    font-family: 'PT Sans', sans-serif;

}

.fill {
    flex:1;
}

.container-fluid {
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

div.content-top {
  background: #e2e6ea;
}

.listing-tickets {
 
  
}

.table-striped{
  background: white;
}

tr.ticket{
  min-height: 100px;
}

.display-tickets {
  
}

span.user-field {
  width: 100%;
  
  margin-top: 30px;
  
}

span.user-name { 
  
}


footer.footer {

}

.left-col,
.right-col {
    height: calc(100% - 116px);
}

/*LOGIN PAGE*/
.login-form {

}

.login-banner {

}

/*SUCCESS PAGE*/
.success-message {
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;

}   

/* BACK OFFICE */
.bo-menu * {
  background: transparent;
}


/* Customs ELEMENTS */

input.btn-submit,

.bg-custom-primary {
  background-color: #009688;
}

.bg-custom-primary-dark {
background-color: #00796B;
}

.bg-custom-accent {
  background-color: #FF5252;
}

.custom-primary-text {
color: #212121;
}

ul.collaborators {
  list-style-type: none;

}

ul.collaborators li{
  height: 40px;
}

select.form-control,
select.form-control-sm,
select.form-control-sm:not([size]):not([multiple]) {
  height: 30px;
  border-radius: 0;
  line-height: 60px;
}

.navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.card-body, .card {
  background-color: rgb(129, 134, 146);
  color: white;
  line-height: 1.8;

}

.list-intro {
  background-color: rgb(110, 119, 124);
}

.auto {
  margin: auto !important;
}

.alert-message {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 10000 !important;
  cursor: pointer;
}

.navbar-dark{
  background: #212121;
}

.custom-card-header {
  background-color: rgb(233, 231, 243);
  color: black;
  border-radius: 2px;
  padding: .75rem 1.25rem;
}

.text-status-en_cours i {
  color: orange;
}
.text-status-ouvert i {
  color: green;
}
.text-status-fermé i{
  color: red;
}