html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */

}

.primary-c-bg{
  background-color: #212121;
}

body{background: #fefefe;}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body *{
    font-family: 'PT Sans', sans-serif;

}

.fill {
    flex:1;
}

.container-fluid {
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

div.content-top {
  background: #e2e6ea;
}

.listing-tickets {
 
  
}

tr.ticket{
  min-height: 100px;
}

.display-tickets {
  
}

span.user-field {
  width: 100%;
  
  margin-top: 30px;
  
}

span.user-name { 
  
}


footer.footer {

}

.left-col,
.right-col {
    height: calc(100% - 116px);
}

/*LOGIN PAGE*/
.login-form {

}

.login-banner {

}

/*SUCCESS PAGE*/
.success-message {
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;

}   

/* BACK OFFICE */
.bo-menu * {
  background: transparent;
}


/* Customs ELEMENTS */

input.btn-submit,
a.btn {
  height: 60px;
  background-color: white;
  border-radius: 0px;
  border: 1px solid #2E2E2E;
  padding: 0;
  margin: 0;
  color: black;
   line-height: 60px;
  display: inline-block;
  vertical-align: middle;
}

.bg-custom-primary {
  background-color: #009688;
}

.bg-custom-primary-dark {
background-color: #00796B;
}

.bg-custom-accent {
  background-color: #FF5252;
}

.custom-primary-text {
color: #212121;
}

ul.collaborators {
  list-style-type: none;

}

ul.collaborators li{
  height: 40px;
}

select.form-control,
select.form-control-sm,
select.form-control-sm:not([size]):not([multiple]) {
  height: 60px;
  border-radius: 0;
  line-height: 60px;
}

